.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;

    &__header {
        cursor: pointer;
    }

    &__header:hover {
        color: var(--color-primary);
    }

    &__delete-btn {
        background-color: transparent;
        border: none;
        color: var(--color-error);
        font-size: 16px;
        cursor: pointer;
    }
}